select, input, label {
    margin: 0;
    padding: 0;
}

.adding_client__header {
    text-align: center;
    padding: 30px 0 30px 0;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    margin: auto;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #f9fdff;
}

input {
    border: none;
    border-bottom: 1px solid black;
    height: 30px;
    width: 100%;

}

input::placeholder {
    font-size: 15px;
    padding: 7px;
}

input, label, select {
    display: block;
    margin-bottom: 7px;
}

select {
    max-width: 100px;
}

.form-place_residence {
    /*width: 100%;*/
    display: grid;
    grid-template-columns: repeat(2, 345px);
    column-gap: 7px;
}

form p {
    padding: 10px 0 10px 0;
}

.form-submit {
    margin-top: 20px;
}

.registr-btn {
    margin-top: 20px;
    height: 35px;
    border: none;
    font-size: 15px;
    border-radius: 10px;
    transition: font-size 0.3s linear;
}

.registr-btn:hover {
    border: 1px solid black;
    cursor: pointer;
    font-size: 16px;
}




