<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html><!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css')}}">
    {% block css %}{% endblock %}
    {% block js %}{% endblock %}
    <title>{% block title %}{{ title }}{% endblock %}</title>
</head>
<body>
{#    {% include 'navbar.html' %}#}
    <header class="page-header">
        <nav class="page-header__wrapper container">
            <ul class="wrapper__nav-list">
                {% if current_user.is_authenticated%}
{#                    {% for i in menus %}#}
                    <li><a href="{{ url_for('clients_base.get_clients') }}">База клиентов</a></li>
                    <li><a href="{{ url_for('doctors_base.get_doctors') }}">База врачей</a></li>
                    <li><a href="{{ url_for('appointments_list.get_appointments') }}">Список забронированных танонов</a></li>

                    <li><a href="{{ url_for('add_client_page.add_client') }}">Добавить клиента</a></li>
                    <li><a href="{{ url_for('add_doctor_page.add_doctor') }}">Добавить врача</a></li>

                    <li><a href="{{ url_for('book_appointment_page.book_appointment') }}">Записать на прием</a></li>


                    {% if current_user.username == 'admin' %}
                        <li><a href="{{ url_for('admin.index') }}">Админка</a></li>
                    {% endif %}

                    <li><a href="{{ url_for('logout_page.logout') }}">Выйти</a></li>


{#                    {% endfor %}#}
                </ul>

            {% else %}
                <div class="auth-block">
                    <ul class="wrapper__auth-list">
                        {% for i in menus[4:-1] %}
                            <li><a href="{{ i.url }}">{{ i.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </nav>
    </header>

{% block content %}
{% endblock %}

{% block messages %}
{% endblock %}
</body>
</html>