{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/registrator/appointments_base.css')}}">
{% endblock %}

<title>{{ title }}</title>

{% block content %}
    <section>
        <div class="appointments_list container">
            <h2 class="appointments_list__header">Список забронированных танолов</h2>
            <table>
                <thead>
                    <tr>
                        <th>№</th>
                        <th>ФИО клиента</th>
                        <th>ФИО врача</th>
                        <th>Дата</th>
                        <th>Время</th>
                    </tr>
                </thead>

                <tbody>
                    {% for appointment in appointments %}
                        <tr>
                            <td id="id_client">{{ appointment.id }}</td>
                            <td>{{ appointment.client.fullname }}</td>
                            <td>{{ appointment.doctor.fullname }}</td>
                            <td>{{ appointment.date }}</td>
                            <td>{{ appointment.time }}</td>

                            <td>
                                <form action="{{ url_for('delete_appointment_page.delete_appointment', idx=appointment.id) }}" method="post" onsubmit="return confirm('Вы уверены, что хотите удалить запись?');">
                                  <button class="delete-button" type="submit">Удалить</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}