{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/registrator/doctors_base.css')}}">
{% endblock %}

<title>{{ title }}</title>

{% block content %}
    <section>
        <div class="doctors-base container">
            <h2 class="doctor-base__header">База врачей</h2>
            <table>
                <thead>
                    <tr>
                        <th>№</th>
                        <th>ФИО</th>
                        <th>Номер телефона</th>
                        <th>Пол</th>
                        <th>Специализация</th>
                    </tr>
                </thead>

                <tbody>
                    {% for doctor in doctors %}
                        <tr>
                            <td id="id_doctor">{{ doctor.id }}</td>
                            <td><a href=""></a>{{ doctor.fullname }}</td>
                            <td>{{ doctor.gender }}</td>
                            <td>{{ doctor.phone }}</td>

                            <td>{{ doctor.specialization.name }}</td>

                            <td>{{ doctor.registered_at }}</td>

                            <td id="action-button">
                                <a class="update-button" href="{{ url_for('update_doctor_page.update_doctor', idx=doctor.id) }}">Изменить</a>
                            </td>

                            <td>
                                <form action="{{ url_for('delete_doctor_page.delete_doctor', idx=doctor.id) }}" method="post" onsubmit="return confirm('Вы уверены, что хотите удалить запись?');">
                                  <button class="delete-button" type="submit">Удалить</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}